/* html {
  height: 100%;
} */
body {
  position: relative;
  /* height: 100%; */
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
strong {
  font-weight: bold;
}

/* 清除浮動 */
.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/* 輪播 */
.carousel_box {
  position: relative;
}

.carousel_box .carousel_inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 0 0 1.5625vw 0; */
}

.carousel_box .carousel_infinite {
  position: relative;
  width: 99999px;
  -webkit-transition: -webkit-transform .6s ease-out;
  transition: -webkit-transform .6s ease-out;
  transition: transform .6s ease-out;
  transition: transform .6s ease-out, -webkit-transform .6s ease-out;
}

.carousel_box .carousel_infinite .carousel_item {
  display: block;
  margin-right: 0;
}

.carousel_box .carousel_item {
  position: relative;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 0;
}

.carousel_box .left {
  position: absolute;
  top: 50%;
  left: 0.78125vw;
  width: 1.5625vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.carousel_box .right {
  position: absolute;
  top: 50%;
  right: 0.78125vw;
  width: 1.5625vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

/* .carousel_box .carousel_indicators {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
} */

/* .carousel_box .carousel_indicators li {
  position: relative;
  margin: 0 0.5208333333vw 0 0.5208333333vw;
  cursor: pointer;
}

.carousel_box .carousel_indicators .item {
  border-radius: 50%;
  background-color: #ded0b4;
  width: 1.71875vw;
  height: 1.71875vw;
}

.carousel_box .carousel_indicators .item.active:before {
  position: relative;
  display: block;
  width: 1.71875vw;
  height: 1.71875vw;
  background-color: #946b39;
  border-radius: 50%;
  content: '';
}

.carousel_box .carousel_indicators .controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5208333333vw 0 0.5208333333vw;
}

.carousel_box .carousel_indicators .controls .pause {
  position: relative;
  display: block;
  background-color: #ded0b4;
  width: 0.4166666667vw;
  height: 1.4583333333vw;
}

.carousel_box .carousel_indicators .controls .pause:first-child {
  margin: 0 0.3645833333vw 0 0;
}

.carousel_box .carousel_indicators .controls .play {
  position: relative;
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7291666667vw 0 0.7291666667vw 1.4583333333vw;
  border-color: transparent transparent transparent #ded0b4;
}

.carousel_box .carousel_indicators .controls.active .pause {
  display: none;
}

.carousel_box .carousel_indicators .controls.active .play {
  display: block;
} */

.carousel_box .next {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.carousel_box .prev {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.carousel_box .fadeOut {
  opacity: 0;
}

.carousel_box .fadeIn {
  opacity: 1;
}

.carousel_box .active {
  display: block;
}

.carousel_box .blurOut {
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

.carousel_box .blurIn {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

/* 錨點 */
.anchor_point {
  position: relative;
  top: calc(-84px - 70px);
}
/* 錨點 end */

/* scroll_down */

.scroll_down {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin: 0 0 0 -8px;
  padding: 15px 0 0 0;
}

.scroll_down:before {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 13px;
  height: 12px;
  margin: 0 0 0 -6.5px;
  background: url(../images/scroll_arrow.png) center / contain no-repeat;
  content: '';
  animation: yAround5 1s linear infinite alternate both;
}

.scroll_down i {
  position: relative;
  display: block;
  width: 1px;
  height: 70px;
  margin: 0 auto 0 auto;
  background: #f6a569;
  content: '';
}

.scroll_down i:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #6c2a7e;
  content: '';
  animation: hAround 2s 0s ease infinite normal both;
}

.scroll_down p {
  color: #6c2a7e;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);   
  letter-spacing: 3px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 5px auto;
}

/* scroll_down end */

/* 懸浮物件 */
.leftside {
  position: fixed;
  display: flex;
  top: 50%;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0, -50%);
  z-index: 10;
}

.leftside a {
  position: relative;
  display: block;
  width: 22px;
  font-size: 22px;
  line-height: 26px;
  padding: 44px 11px 20px 11px;
  border-radius: 0 10px 10px 0;
  color: #fff;
  transition: padding 0.5s linear;
}
/* 會員中心 */
.leftside .member a {
  background-color: #ffcd2b;
  margin: 0 0 22px 0;
}
.leftside .member a:before {
  position: absolute;
  display: block;
  top: 20px;
  left: 50%;
  width: 19px;
  height: 20px;
  margin: 0 0 0 -9.5px;
  background: url(../images/member_icon.png) center / contain no-repeat;
  content: '';
  transition: margin 0.5s linear;
}
/* 專欄與報導 */
.leftside .poster a {
  background-color: #7b5ebf;
  margin: 0 0 22px 0;
}

.leftside .poster a:before {
  position: absolute;
  display: block;
  top: 20px;
  left: 50%;
  width: 19px;
  height: 20px;
  margin: 0 0 0 -9.5px;
  background: url(../images/icon_article.png) center / contain no-repeat;
  content: '';
  transition: margin 0.5s linear;
}

/* 諮詢站查詢 */
.leftside .advisory a {
  background-color: rgb(0, 140, 248);
  padding-top: 56px;
}

.leftside .advisory a:before {
  position: absolute;
  display: block;
  top: 20px;
  left: 50%;
  width: 22px;
  height: 30px;
  margin: 0 0 0 -11px;
  background: url(../images/icon_map.png) center / contain no-repeat;
  content: '';
  transition: margin 0.5s linear;
}

.leftside a:hover {
  padding-left: 21px;
}

.leftside a:hover:before {
  margin: 0 0 0 -6px;
}

.leftside .poster a:hover:before {
  margin: 0 0 0 -4.5px;
}

/* 懸浮物件 end */

/* go top */

.gotop {
  position: fixed;
  bottom: 80px;
  right: 22px;
  display: flex;
  width: 45px;
  height: 114px;
  background: #000;
  border: 1px solid #000;
  z-index:10;
  transition: background-color 0.5s linear;
  display: none;
}

.gotop:after {
  position: absolute;
  display: block;
  top: 34px;
  left: 50%;
  width: 10px;
  height: 69px;
  margin: 0 0 0 -5px;
  background: url(../images/page_top.png) center / contain no-repeat;
  content: '';
}

.gotop:before {
  position: absolute;
  display: block;
  top: 15px;
  left: 50%;
  width: 15px;
  height: 13px;
  margin: 0 0 0 -7.5px;
  background: url(../images/icon_arrow.png) center / contain no-repeat;
  content: '';
  animation: yAround-5 1s linear infinite alternate both;
}

.gotop:hover {
  background: #fff;
}

.gotop:hover:after {
  background: url(../images/page_top_hover.png) center / contain no-repeat;
}

.gotop:hover:before {
  background: url(../images/icon_arrow_hover.png) center / contain no-repeat;
}

/* go top end */

.for_pc {
  display: block;
}

.for_mobile {
  display: none;
}

@media (max-width: 1200px) {

  /* 錨點 */
  .anchor_point {
    top: calc(-7vw - 5.833333vw);
  }
  /* 錨點 end */

  /* 懸浮物件 */
  .leftside a {
    width: 1.833333vw;
    font-size: 1.833333vw;
    line-height: 2.166667vw;
    padding: 3.666667vw 0.916667vw 1.666667vw 0.916667vw;
    border-radius: 0 0.833333vw 0.833333vw 0;
  }

  /* 專欄與報導 */
  .leftside .poster a {
    margin: 0 0 1.833333vw 0;
  }

  .leftside .poster a:before {
    top: 1.666667vw;
    width: 1.583333vw;
    height: 1.666667vw;
    margin: 0 0 0 -0.791667vw;
  }
  .leftside .member a:before{
    top: 1.666667vw;
    width: 1.583333vw;
    height: 1.666667vw;
    margin: 0 0 0 -0.791667vw;
  }
  /* 諮詢站查詢 */
  .leftside .advisory a {
    padding-top: 4.666667vw;
  }

  .leftside .advisory a:before {
    top: 1.666667vw;
    width: 1.833333vw;
    height: 2.5vw;
    margin: 0 0 0 -0.916667vw;
  }

  .leftside a:hover {
    padding-left: 1.75vw;
  }
  
  .leftside a:hover:before {
    margin: 0 0 0 -0.5vw;
  }
  
  .leftside .poster a:hover:before {
    margin: 0 0 0 -0.375vw;
  }

  /* 懸浮物件 end */

  /* go top */

  .gotop {
    /* bottom: 80px; */
    right: 1.833333vw;
    width: 3.75vw;
    height: 9.5vw;
  }

  .gotop:after {
    top: 2.833333vw;
    width: 0.833333vw;
    height: 5.75vw;
    margin: 0 0 0 -0.416667vw;
  }

  .gotop:before {
    top: 1.25vw;
    width: 1.25vw;
    height: 1.083333vw;
    margin: 0 0 0 -0.625vw;
  }

  /* go top end */
}

@media (max-width: 768px) {

  .for_pc {
    display: none;
  }

  .for_mobile {
    display: block;
  }

  /* 錨點 */
  .anchor_point {
    top: calc(-13.541667vw - 9.114583vw);
  }
  /* 錨點 end */
  
  /* scroll_down */

  .scroll_down p {
    display: none;
  }

  /* scroll_down end */

  /* 懸浮物件 */

  /* .leftside {
    top: 0;
    left: auto;
    right: 2.864583vw;
    flex-direction: row;
    justify-content: center;
    transform: none;
    z-index: 11;
  } */

  .leftside a {
    /* font-size: 26px;
    line-height: 32px;
    width: 26px;
    padding: 44px 12px 20px; */
    font-size: 3.385417vw;
    line-height: 4.166667vw;
    width: 3.385417vw;
    padding: 5.729167vw 1.432292vw 2.604167vw;
  }

  /* 專欄與報導 */
  .leftside .poster a {
    /* margin: 0 0 22px; */
    margin: 0 0 2.864583vw;
  }

  .leftside .poster a:before {
    /* top: 20px; */
    /* width: 19px; */
    /* height: 20px; */
    /* margin: 0 0 0 -9.5px; */
    top: 2.604167vw;
    width: 2.473958vw;
    height: 2.604167vw;
    margin: 0 0 0 -1.236979vw;
  }
  .leftside .member a:before{
    top: 2.604167vw;
    width: 2.473958vw;
    height: 2.604167vw;
    margin: 0 0 0 -1.236979vw;
  }
  /* 諮詢站查詢 */
  .leftside .advisory a {
    /* padding-top: 56px; */
    padding-top: 7.291667vw;
  }

  .leftside .advisory a:before {
    /* top: 20px; */
    /* width: 22px; */
    /* height: 30px; */
    /* margin: 0 0 0 -11px; */
    top: 2.604167vw;
    width: 2.864583vw;
    height: 3.90625vw;;
    margin: 0 0 0 -1.432292vw;
  }

  /* 懸浮物件 end */

  /* go top */

  .gotop {
    /* bottom: 80px; */
    right: 0;
    width: 5.46875vw;
    height: 13.932292vw;
  }

  .gotop:after {
    top: 3.90625vw;
    width: 1.302083vw;
    height: 8.984375vw;
    margin: 0 0 0 -0.651042vw;
  }

  .gotop:before {
    top: 1.302083vw;
    width: 1.953125vw;
    height: 1.692708vw;
    margin: 0 0 0 -0.976563vw;
  }

  /* go top end */
}
