.main {
max-width: 100%;
}
.banner {
	background: url(../images/article_img_1.png) center / cover no-repeat;
	height: 41.66666667vw;
	padding-top: 84px;
	width: auto;
	position: relative;
}
.banner a {
	display: block;
	height: 100%;
	width: 100%;
}
.banner-title {
	width: calc(100% - 82px);
	background-color:#cecece;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top:15px;
	padding-bottom: 15px;
	padding-left: 82px;
}
.banner-title h2 {
	font-size: 40px;
	letter-spacing: 6px;
	line-height: 48px;
	text-align: left;
	color: rgb(37, 37, 37);
}
.article{
	padding: 100px 55px 190px 55px;
	position: relative;
	overflow: hidden;
}
.article_box {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}
.article_img_box{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1920px;
	height: 100%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.a_r_1{
	position: absolute;
	bottom:45.4%;
	right: 10%;
}
.a_r_2{
	position: absolute;
	bottom:25.7%;
	right: 6.1%;
}
.a_r_3{
	position: absolute;
	bottom:0;
	right: 0;
}
.article_content {
  display: flex;
	justify-content: center;
	margin-right: 50px;
	flex-wrap: wrap;
	max-width: 1227px;
  width:84.9%;
}
.article_card_box{
	width: calc(100% / 3);
}
.article_card {
	margin: 0 15px 40px 15px;
	border: solid 1px #e5e5e5;
	padding: 13px 15px 30px 15px;
}
.article_card_img {
	position: relative;
	width: 100%;
	padding-top: 56%;
	overflow: hidden;
	background: url(../images/banner.png) center / cover no-repeat;
	margin: 0 0 3px 0;
	display: block;
}
.article_card h2 {
	font-size: 19px;
	font-weight: bold;
	line-height: 31px;
	height: 62px;
	text-align: left;
	color: #2c84ae;
	margin: 0 0 8px 0;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.article_card p {
	font-size: 11.5px;
	font-weight: 500;
	letter-spacing: 0.86px;
	text-align: left;
	color: #bfbfbf;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.article_card_link {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.icon_box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon_box a{
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	margin-right: 10px;
}
.icon_line_g{
	background:url(../images/icon_line_g.png) center / contain no-repeat;
}
.icon_fb_g{
	background:url(../images/icon_fb_g.png) center / contain no-repeat;
}
.icon_mail_g{
	background:url(../images/icon_mail_g.png) center / contain no-repeat;
}
.icon_line_g:hover {
	background:url(../images/icon_line_w2.png) center / contain no-repeat;
}
.icon_fb_g:hover {
	background:url(../images/icon_fb_w2.png) center / contain no-repeat;
}
.icon_mail_g:hover {
	background:url(../images/icon_mail_w2.png) center / contain no-repeat;
}
.btn_article {
	display: flex;
	justify-content: center;
  border-radius: 20px;
	background-color: #fa5b05;
	position: relative;
	transition: background-color 0.5s linear;
}
.btn_article:hover {
	background-color: #cc3d09;
}
.btn_article:hover a:after {
  transform: translate(5px);
}
.btn_article a{
  font-size: 12px;
  font-weight: 500;
  text-align: center;
	color: #ffffff;
  padding: 9px 62px 8px 20px;
  transition: color .5s linear;
}
.btn_article a:after {
  position: absolute;
  display: block;
  top: 50%;
  right: 20px;
  width: 29px;
  height: 9px;
  margin: -5px 0 0 0;
  background: url(../images/arrow.png) center / contain no-repeat;
  content: '';
  transition: transform .5s linear;
}
.article_menu {
	width: 15.1%;
}
.article_menu_inner li {
	margin-bottom: 9px;
}
.article_menu_inner li a {
	display: block;
	padding: 10px	0 10px 27px;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 3.3px;
	color: #000000;
	position: relative;
}
.border_1 {
	border: solid 1px #5c6bc0;
	}
.border_1_1 {
	border-top: solid 1px #5c6bc0;
	padding-top: 9px;
}
.border_2_1 {
	border-top: solid 1px  #fcb316;
	padding-top: 9px;
}
.border_3_1 {
	border-top: solid 1px #e53935;
	padding-top: 9px;
}
.border_2 {
	border: solid 1px #fcb316;
	}
.border_3 {
	border: solid 1px #e53935;
}
.article_menu_inner li a::before{
  position: absolute;
	display: block;
	top:0;
	left:0;
  width: 5px;
	height: 100%;
  content: '';
}
.article_menu_inner li {
	transition: background-color 0.5s linear;
}
.article_menu_inner li a:hover {
	background-color: #ecebeb;
}
.border_1::before {
	background-color: #5c6bc0;
}
.border_2::before {
	background-color: #fcb316;
}
.border_3::before {
	background-color: #e53935;
}
.article_menu_border .border_1_1 {
	border-left: none;
	border-right: none;
	padding-bottom: 9px;
}
.article_menu_inner li a p {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
	color: #5c6bc0;
	margin-top: 10px;
	letter-spacing: 1.5px;
}
.article_menu_inner li a span p {
	color: #fcb316;
}
.article_menu_inner  .p_color {
	color: #e53935;
}
.pagination {
	width: 100%;
	text-align: center;
}
.pagination ul{
	display: inline-block;
}
.pagination li {
	display:inline;
	transition: background-color 0.5s linear;
}

.pagination li.active a {
	background-color: #ecebeb;
}

.pagination li a:hover:not(.active) {
	background-color: #929292;
}
.pagination li a {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	color: #cccccc;
	border-radius: 2px;
	border: solid 1px #dcdcdc;
	transition: background-color .3s;
}








@media (max-width: 1520px) {
	.a_r_1{
		width: 20.4652vw;
	}
	.a_r_2{
		width: 15.52631vw;
	}
	.a_r_3{
		width: 39.47368vw;
	}
	.banner-title {
		width: calc(100% - 5.3947vw);
		padding-top: 0.9868vw;
		padding-bottom: 0.9868vw;
		padding-left: 5.3947vw;
	}
}
@media (max-width: 1200px) {
	.banner {
		padding-top: 7vw;
	}
	.article {
		padding-top:5.2083vw ;
		padding-bottom:15.84vw ;
	}
	.article_box {
		flex-direction: column;
	}
	.article_content {
		width: 100%;
		margin-top:50px;
	}
	.article_menu {
		width: 100%;
	}
	.article_menu_inner li a {
		display: flex;
		justify-content: start;
		align-items: center;
	}
	.article_menu_inner li a p {
		margin-left: 15px;
		margin-top: 0;
	}
	.article_menu_border {
		margin: 0 15px 0 15px;
	}
	.article_card_box{
		width: calc(100% / 2);
	}
	.border_1_1 {
		padding-top: 0.75vw;
	}
	.article_menu_inner li {
		margin-bottom: 0.75vw;
	}
	/* .article_menu_inner li a::before {
		height: 44px;
	} */
}

@media (max-width: 768px) {
	.banner {
		background: url(../images/article_img_1_mobile.png) center / cover no-repeat;
		padding-top: 13.541667vw;
    height: 110vw;
	}
	.article_card_box { 
		width: 100%;
	}
	.banner-title h2 {
		font-size: 7vw;
		letter-spacing: 1vw;
		line-height: 10vw;
		padding: 0 2vw 0 2vw;
	}
	.article {
		padding-right: 7.161458vw;;
		padding-left: 7.161458vw;;
	}
	.article_content {
		margin-top: 6.5104vw;
	}
	.article_card h2 {
		font-size: 4vw;
    line-height: 5.5vw;
		height: 12vw;
		margin-top: 2vw;
	}
	.article_card p {
		font-size: 3vw;
	}
	.article_card {
    margin: 0 1.9531vw 5.20833vw 1.9531vw;
		padding: 1.6927vw 1.9531vw 3.906vw 1.9531vw;
	}
}

@media (max-width: 414px) {
	.article_menu_inner li a {
    font-size: 5.314vw;
	}	
.article_menu_inner li a {
	padding: 2.415vw 0 2.415vw 6.5217vw;
	}
/* .article_menu_inner li a::before {
	margin: -2.4154vw -6.7632vw;
	} */
.article_card_link {
	margin-top: 4.8309vw;
	}
.btn_article a{
  font-size: 2.8985vw;
	padding: 2.1739vw 14.9758vw 1.9328vw 4.8309vw;
	}
.btn_article a:after {
	right: 4.8309vw;
	width: 7.004vw;
	height: 2.1739vw;
	margin: -1.2077vw 0 0 0;
}
}