.article_news_box {
	margin-top: 14.010417vw;
	position: relative;
	overflow: hidden;
}
.article_news_inner {
	padding: 0 9.375vw 11.510417vw 9.375vw;
	margin: 0 auto;
}
.article_news_title h3{
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2.4px;
	text-align: left;
	color: #5e8dbf;
}
.article_news_title {
	position: relative;
	padding-left: 50px;
}
.article_news_title span h3 {
	color: #000000;
}
.article_news_title h2 {
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 6px;
	line-height: 48px;
	text-align: left;
	color: #041a31;
	margin: 48px 0 30px 0;
}
.article_news_title:before {
	position: absolute;
	display: block;
	width: 10px;
	height: 97px;
	top: 75px;
	left: 0;
	content: '';
	background-color: #ffa454;
  }
.article_news_img {
	position: relative;
	width: 100%;
	padding-top: 42%;
	overflow: hidden;
	background: url(../images/article_img_1.png) center / cover no-repeat;
	margin: 80px 0 58px 0;
}
.article_content_box {
	background-color: #eff8fe;
	padding: 5.208333vw;
	opacity: 0.6;
}
.article_content_box h1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 6vw;
	letter-spacing: 1.75px;
	text-align: left;
	color: #24160f;
	margin: 0;
}
.article_content_box h2 {
	font-size: 32px;
	font-weight: 800;
	line-height: 5vw;
	letter-spacing: 1.75px;
	text-align: left;
	color: #24160f;
	margin: 0;
}
.article_content_box h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 4vw;
	letter-spacing: 1.75px;
	text-align: left;
	color: #24160f;
}
.article_content_box i {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	line-height: 2;
	letter-spacing: 1.75px;
	text-align: left;
	color: #24160f;
}
.article_content_box a {
	font-size: 18px;
	font-weight: 500;
	text-decoration: underline;
	line-height: 2;
	letter-spacing: 1.75px;
	text-align: left;
	color: #24160f;
}
.article_content_box p {
	font-size: 18px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 1.75px;
	text-align: left;
	color: #24160f;
}

.btn_articlecontent {
	background-color: #7b5ebf;
	display: block;
	margin-top: 2.65625vw;
	width: 100%;
	border-radius:70px;
	text-decoration: none;
	padding-top:1.041667vw;
	padding-bottom:1.041667vw;
	font-size: 22px;
	letter-spacing: 2px;
	color:#ffff;
	text-align: center;
	transition: background-color 0.5s linear;
}
.btn_articlecontent:hover {
	background: #D1BBFF;
  }


@media (max-width:768px) {
	.article_news_box {
		margin-top: 22vw;
	}
	.article_news_inner h3{
		font-size: 3.125vw;
		letter-spacing: 0.3125vw;
	}
	.article_news_inner span h3 {
		color: #000000;
	}
	.article_news_inner h2 {
		font-size: 5.2083vw;
		letter-spacing: 0.781vw;
		line-height: 6.25vw;
		margin: 6.25vw 0 3.906vw 0;
	}
	.article_content_box h1 {
		font-size: 4.6875vw;
		line-height: 8vw;

	}
	.article_content_box h2 {
		font-size: 4.166667vw;
		line-height: 7vw;
		margin: 0;
	}
	.article_content_box h3 {
		font-size: 3.645833vw;
		line-height: 6vw;
	}
	.article_content_box p {
		font-size: 3.255208vw;
	}
	.article_content_box i {
		font-size: 3.255208vw;
		line-height: 5.6875vw;
	}
	.article_content_box a {
		font-size: 3.255208vw;
		line-height: 5.6875vw;
	}
	.btn_articlecontent {
		font-size: 2.864vw;
		letter-spacing: 0.2604vw;
	}
	.article_news_img {
		margin: 8vw 0 7.552vw 0;
	}
  .article_news_title {
		padding-left: 6.510417vw;
	}
	.article_news_title:before {
		width: 1.302083vw;
		height: 12.630208vw;
		top: 9.765625vw;
		left:0;
  }
}