.map_btn {
  position: relative;
  width: 331px;
  height: 45px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 8px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #f85718;
  border: none;
  cursor: pointer;
  outline: 0;
}

.form_control {
  position: relative;
  width: 331px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 2px;
  border-radius: 10px;
  text-align-last: center;
  color: #000000;
  background-color: #eeeeee;
  margin: 0;
  border: none;
  outline: 0;
}

input.form_control {
  width: 291px;
  padding: 0 20px;
}

label.map_btn {
  display: block;
  cursor: text;
}

.map_box {
  width: 100%;
  height: calc(100% - 84px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 84px;
}

.map_inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.map_box .map_l {
  position: absolute;
  top: 0;
  left: 0;
  width: 447px;
  height: 100%;
  overflow: hidden;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map_box .map_r {
  position: absolute;
  top: 0;
  left: 447px;
  width: calc(100% - 447px);
  height: 100%;
}

.map_box .map_search {
  position: relative;
  padding: 25px 58px 20px 58px;
}

.map_box .map_search small {
  position: relative;
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: #535353;
  margin: 10px auto;
}

.map_box .map_search .input_group {
  position: relative;
  margin: 20px 0 0 0;
}

.map_box .map_list_box {
  position: relative;
  height: calc(100% - 300px);
}

.map_box .map_list_box .title {
  position: relative;
  width: 100%;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #ffae00;
}

.map_box .map_list_box .map_list {
  position: relative;
  padding: 0 0 1px 0;
  background-color: #eeeeee;
  /* height: calc(100vh - 84px - 300px - 45px); */
  height: calc(100% - 45px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.map_box .map_list_box .map_list .item {
  position: relative;
  padding: 18px 20px 0 85px;
  border-bottom: 1px solid #898989;
  cursor: pointer;
}

.map_box .map_list_box .map_list .item:last-child {
  border-bottom: none;
}

.map_box .map_list_box .map_list .item:hover {
  background: #fdfbfb;
}

.map_box .map_list_box .map_list .item.active {
  background: #fdfbfb;
}

.map_box .map_list_box .map_list .item .name {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 7px;
  margin: 0 0 11px 0;
  color: #000000;
  font-weight: bold;
}

.map_box .map_list_box .map_list .item .address {
  position: relative;
  min-height: 27px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 2px;
  margin: 0 0 14px 0;
  padding: 0 0 0 37px;
  color: #000000;
}

.map_box .map_list_box .map_list .item .address::before {
  position: absolute;
  display: block;
  top: 50%;
  left: 4px;
  width: 20px;
  height: 27px;
  margin: -13.5px 0 0 0;
  background: url(../images/marker_icon.png) center / contain no-repeat;
  content: '';
}

.map_box .map_list_box .map_list .item .tel {
  position: relative;
  min-height: 27px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  padding: 0 0 0 37px;
  color: #000000;
}

.map_box .map_list_box .map_list .item .tel a {
  color: #000000;
}

.map_box .map_list_box .map_list .item .tel::before {
  position: absolute;
  display: block;
  top: 50%;
  left: 2px;
  width: 25px;
  height: 25px;
  margin: -12.5px 0 0 0;
  background: url(../images/tel_icon.png) center / contain no-repeat;
  content: '';
}

@media (max-width: 1680px) {
  .map_btn {
    width: 19.702381vw;
    height: 2.678571vw;
    font-size: 1.190476vw;
    line-height: 2.678571vw;
    letter-spacing: 0.47619vw;
    border-radius: 0.595238vw;
  }
  
  .form_control {
    width: 19.702381vw;
    height: 2.678571vw;
    font-size: 1.190476vw;
    line-height: 2.678571vw;
    letter-spacing: 0.119048vw;
    border-radius: 0.595238vw;
  }
  
  input.form_control {
    width: 17.321429vw;
    padding: 0 1.190476vw;
  }
  
  /* .map_box {
    width: 100%;
    height: calc(100% - 84px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 84px;
  } */
  
  .map_box .map_l {
    width: 26.607143vw;
  }
  
  .map_box .map_r {
    left: 26.607143vw;
    width: calc(100% - 26.607143vw);
  }
  
  .map_box .map_search {
    padding: 1.488095vw 3.452381vw 1.190476vw 3.452381vw;
  }
  
  .map_box .map_search small {
    font-size: 0.892857vw;
    margin: 0.595238vw auto;
  }
  
  .map_box .map_search .input_group {
    margin: 1.190476vw 0 0 0;
  }

  .map_box .map_list_box {
    height: calc(100% - 17.857143vw);
  }
  
  .map_box .map_list_box .title {
    height: 2.678571vw;
    font-size: 1.190476vw;
    line-height: 2.678571vw;
    letter-spacing: 0.297619vw;
  }
  
  .map_box .map_list_box .map_list {
    /* padding: 0 0 1px 0; */
    /* height: calc(100vh - 84px - 17.857143vw - 2.678571vw); */
    height: calc(100% - 2.678571vw);
    /* height: 100%; */
  }
  
  .map_box .map_list_box .map_list .item {
    padding: 1.071429vw 1.190476vw 0 5.059524vw;
    /* border-bottom: 1px solid #898989; */
  }
  
  .map_box .map_list_box .map_list .item .name {
    font-size: 1.190476vw;
    line-height: 1.547619vw;
    letter-spacing: 0.416667vw;
    margin: 0 0 0.654762vw 0;
  }
  
  .map_box .map_list_box .map_list .item .address {
    min-height: 1.607143vw;
    font-size: 0.952381vw;
    line-height: 1.607143vw;
    letter-spacing: 0.119048vw;
    margin: 0 0 0.833333vw 0;
    padding: 0 0 0 2.202381vw;
  }
  
  .map_box .map_list_box .map_list .item .address::before {
    left: 0.238095vw;
    width: 1.190476vw;
    height: 1.607143vw;
    margin: -0.803571vw 0 0 0;
  }
  
  .map_box .map_list_box .map_list .item .tel {
    min-height: 1.607143vw;
    font-size: 0.952381vw;
    line-height: 1.607143vw;
    letter-spacing: 0.119048vw;
    margin: 0 0 1.190476vw 0;
    padding: 0 0 0 2.202381vw;
  }

  .map_box .map_list_box .map_list .item .tel::before {
    left: 0.119048vw;
    width: 1.488095vw;
    height: 1.488095vw;
    margin: -0.744048vw 0 0 0;
  }
}

@media (max-width: 1200px) {
  /* .map_btn {
    width: 27.583333vw;
    height: 3.75vw;
    font-size: 1.666667vw;
    line-height: 3.75vw;
    letter-spacing: 0.666667vw;
    border-radius: 0.833333vw;
  }
  
  .form_control {
    width: 27.583333vw;
    height: 3.75vw;
    font-size: 1.666667vw;
    line-height: 3.75vw;
    letter-spacing: 0.166667vw;
    border-radius: 0.833333vw;
  }
  
  input.form_control {
    width: 24.25vw;
    padding: 0 1.666667vw;
  } */
  
  .map_box {
    height: calc(100% - 7vw);
    padding-top: 7vw;
  }
  
  /* .map_box .map_l {
    width: 37.25vw;
  }
  
  .map_box .map_r {
    left: 37.25vw;
    width: calc(100% - 37.25vw);
  }
  
  .map_box .map_search {
    padding: 2.083333vw 4.833333vw 1.666667vw 4.833333vw;
  } */
  
  .map_box .map_search small {
    font-size: 12px;
    /* margin: 0.833333vw auto; */
  }
  
  /* .map_box .map_search .input_group {
    margin: 1.666667vw 0 0 0;
  }
  
  .map_box .map_list_box .title {
    height: 3.75vw;
    font-size: 1.666667vw;
    line-height: 3.75vw;
    letter-spacing: 0.416667vw;
  } */
  
  /* .map_box .map_list_box .map_list {
    height: calc(100vh - 7vw - 17.857143vw - 2.678571vw);
  } */
  
  /* .map_box .map_list_box .map_list .item {
    padding: 1.5vw 1.666667vw 0 7.083333vw;
    border-bottom: 0.083333vw solid #898989;
  } */
  
  .map_box .map_list_box .map_list .item .name {
    font-size: 14px;
    line-height: 18px;
  }
  
  .map_box .map_list_box .map_list .item .address {
    font-size: 12px;
    line-height: 19px;
  }
  
  /* .map_box .map_list_box .map_list .item .address::before {
    left: 0.333333vw;
    width: 1.666667vw;
    height: 2.25vw;
    margin: -1.125vw 0 0 0;
  }
  
  .map_box .map_list_box .map_list .item .tel {
    min-height: 2.25vw;
    font-size: 1.333333vw;
    line-height: 2.25vw;
    letter-spacing: 0.166667vw;
    margin: 0 0 1.666667vw 0;
    padding: 0 0 0 3.083333vw;
  }
  
  .map_box .map_list_box .map_list .item .tel::before {
    left: 0.166667vw;
    width: 2.083333vw;
    height: 2.083333vw;
    margin: -1.041667vw 0 0 0;
  } */
}

@media (max-width: 768px) {

  .map_btn {
    width: 74.869792vw;
    height: 7.942708vw;
    font-size: 2.864583vw;
    line-height: 7.942708vw;
    letter-spacing: 1.041667vw;
    border-radius: 1.302083vw;
  }
  
  .form_control {
    width: 74.869792vw;
    height: 7.942708vw;
    font-size: 2.864583vw;
    line-height: 7.942708vw;
    letter-spacing: 0.260417vw;
    border-radius: 1.302083vw;
  }
  
  input.form_control {
    width: 61.848958vw;
    padding: 0 6.510417vw;
  }
  
  .map_box {
    height: calc(100% - 13.541667vw);
    padding-top: 13.541667vw;
  }
  
  .map_box .map_l {
    width: 100%;
  }

  .map_box .map_r {
    left: 0;
    width: 100%;
    display: none;
  }
  
  .map_box .map_search {
    padding: 3.90625vw 12.760417vw 3.90625vw 12.369792vw;
  }
  
  .map_box .map_search small {
    font-size: 2.864583vw;
    margin: 2.604167vw auto 2.604167vw auto;
  }
  
  .map_box .map_search .input_group {
    margin: 2.604167vw 0 0 0;
  }
  
  /* .map_box .map_search .input_group:last-child {
    margin: 0;
  } */

  .map_box .map_list_box {
    /* height: calc(100% - 60.286458vw); */
    height: calc(100% - 52.864583vw);
  }

  .map_box .map_list_box .title {
    width: 100%;
    height: 6.901042vw;
    font-size: 2.864583vw;
    line-height: 6.901042vw;
    letter-spacing: 0.78125vw;
  }
  
  .map_box .map_list_box .map_list {
    /* padding: 0 0 1px 0; */
    /* height: calc(100vh - 13.541667vw - 60.286458vw - 6.901042vw - 8.203125vw); */
    height: calc(100% - 6.901042vw - 8.203125vw);
    /* height: 100%; */
  }
  
  .map_box .map_list_box .map_list .item {
    padding: 4.296875vw 2.604167vw 0 11.979167vw;
    border-bottom: 0.130208vw solid #898989;
  }
  
  .map_box .map_list_box .map_list .item .name {
    font-size: 2.864583vw;
    line-height: 3.385417vw;
    letter-spacing: 0.911458vw;
    margin: 0 0 2.864583vw 0;
  }
  
  .map_box .map_list_box .map_list .item .address {
    min-height: 3.385417vw;
    font-size: 2.864583vw;
    line-height: 3.385417vw;
    letter-spacing: 0.260417vw;
    margin: 0 0 3.515625vw 0;
    padding: 0 0 0 3.645833vw;
  }
  
  .map_box .map_list_box .map_list .item .address::before {
    top: 50%;
    left: 0;
    width: 2.473958vw;
    height: 3.385417vw;
    margin: -1.692708vw 0 0 0;
  }
  
  .map_box .map_list_box .map_list .item .tel {
    position: relative;
    min-height: 3.385417vw;
    font-size: 2.864583vw;
    line-height: 3.385417vw;
    letter-spacing: 0.260417vw;
    margin: 0 0 4.557292vw 0;
    padding: 0 0 0 3.645833vw;
    color: #e53935;
  }
  
  .map_box .map_list_box .map_list .item .tel a {
    color: #e53935;
  }
  
  .map_box .map_list_box .map_list .item .tel::before {
    top: 50%;
    left: 0;
    width: 2.604167vw;
    height: 2.604167vw;
    margin: -1.302083vw 0 0 0;
  }

  .map_box .map_nav {
    /* position: relative; */
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8.203125vw;
    font-size: 2.864583vw;
    line-height: 8.203125vw;
    letter-spacing: 0.911458vw;
    text-align: center;
    color: #fff;
  }

  .map_box .map_nav .map_nav_list {
    position: relative;
    width: 100%;
    height: 8.203125vw;
    background-color: #7cb843;
  }

  .map_box .map_nav .map_nav_list.active {
    font-size: 4.557292vw;
    color: #fff100;
  }
  
  .map_box .map_nav .map_nav_map {
    position: relative;
    width: 100%;
    height: 8.203125vw;
    background-color: #2c84ae;
  }

  .map_box .map_nav .map_nav_map.active {
    font-size: 4.557292vw;
    color: #fff100;
  }
}

@media (max-width: 768px) {

  .map_box .map_list_box .map_list .item .name {
    font-size: 12px;
    line-height: 14px;
  }

  .map_box .map_list_box .map_list .item .address {
    font-size: 12px;
    line-height: 14px;
  }

}
